---
---

<header>
    <nav>
        <a href="/" class="logo">
            <img src="/images/enso-circle-white.png" alt="Enso Circle" class="enso-icon" /> 
            <!--
            <svg class="enso-icon" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="45" fill="none" stroke="#3498db" stroke-width="2" opacity="0.6"/>
                <path d="M 50 5 A 45 45 0 0 1 95 50" fill="none" stroke="#5499c7" stroke-width="4" stroke-linecap="round" opacity="0.9"/>
            </svg>
             -->
            Visions on the Path
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/mantras">Mantras</a></li>
            <li><a href="/daily-verse">Daily Verse</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
